
<footer class="footer-wrapper" id="footer" th:fragment="footer">


    <!-- FOOTER 1 -->


    <!-- FOOTER 2 -->

    <section class="section" id="section_49580036">
        <div class="bg section-bg fill bg-fill  bg-loaded">


        </div><!-- .section-bg -->

        <div class="section-content relative">

            <div class="gap-element clearfix" style="display:block; height:auto; padding-top:10px"></div>

            <div class="row row-collapse" id="row-1074410657">

                <div class="col small-12 large-12">
                    <div class="col-inner">

                        <ul class="sidebar-wrapper ul-reset ">Danh mục sản phẩm
                            <div class="tagcloud"><a aria-label="Apple (4 mục)"
                                                     class="tag-cloud-link tag-link-25 tag-link-position-1"
                                                     href="danh-muc/dien-thoai/apple/index.html"
                                                     style="font-size: 14.913580246914pt;">Apple</a>
                                <a aria-label="Bao da - Ốp lưng - Dán màn hình (2 mục)"
                                   class="tag-cloud-link tag-link-47 tag-link-position-2"
                                   href="danh-muc/phu-kien/bao-da-op-lung-dan-man-hinh/index.html"
                                   style="font-size: 11.111111111111pt;">Bao da - Ốp lưng - Dán màn
                                    hình</a>
                                <a aria-label="BlackBerry (1 mục)"
                                   class="tag-cloud-link tag-link-28 tag-link-position-3" href="danh-muc/dien-thoai/blackberry/index.html"
                                   style="font-size: 8pt;">BlackBerry</a>
                                <a aria-label="Laptop (10 mục)"
                                   class="tag-cloud-link tag-link-23 tag-link-position-4"
                                   href="danh-muc/laptop/index.html" style="font-size: 20.79012345679pt;">Laptop</a>
                                <a aria-label="Laptop Asus (2 mục)"
                                   class="tag-cloud-link tag-link-38 tag-link-position-5"
                                   href="danh-muc/laptop/laptop-asus/index.html" style="font-size: 11.111111111111pt;">Laptop
                                    Asus</a>
                                <a aria-label="Laptop Dell (2 mục)"
                                   class="tag-cloud-link tag-link-39 tag-link-position-6"
                                   href="danh-muc/laptop/laptop-dell/index.html" style="font-size: 11.111111111111pt;">Laptop
                                    Dell</a>
                                <a aria-label="Laptop HP (2 mục)"
                                   class="tag-cloud-link tag-link-42 tag-link-position-7"
                                   href="danh-muc/laptop/laptop-hp/index.html" style="font-size: 11.111111111111pt;">Laptop
                                    HP</a>
                                <a aria-label="Laptop Lenovo (2 mục)"
                                   class="tag-cloud-link tag-link-41 tag-link-position-8"
                                   href="danh-muc/laptop/laptop-lenovo/index.html" style="font-size: 11.111111111111pt;">Laptop
                                    Lenovo</a>
                                <a aria-label="Loa (2 mục)"
                                   class="tag-cloud-link tag-link-44 tag-link-position-9"
                                   href="danh-muc/phu-kien/loa/index.html" style="font-size: 11.111111111111pt;">Loa</a>
                                <a aria-label="Macbook (2 mục)"
                                   class="tag-cloud-link tag-link-40 tag-link-position-10"
                                   href="danh-muc/laptop/macbook/index.html" style="font-size: 11.111111111111pt;">Macbook</a>
                                <a aria-label="Motorola (2 mục)"
                                   class="tag-cloud-link tag-link-27 tag-link-position-11"
                                   href="danh-muc/dien-thoai/motorola/index.html" style="font-size: 11.111111111111pt;">Motorola</a>
                                <a aria-label="Máy nghe nhạc (2 mục)"
                                   class="tag-cloud-link tag-link-45 tag-link-position-12"
                                   href="danh-muc/phu-kien/may-nghe-nhac/index.html" style="font-size: 11.111111111111pt;">Máy nghe
                                    nhạc</a>
                                <a aria-label="Nokia (1 mục)"
                                   class="tag-cloud-link tag-link-29 tag-link-position-13" href="danh-muc/dien-thoai/nokia/index.html"
                                   style="font-size: 8pt;">Nokia</a>
                                <a aria-label="Phụ kiện (10 mục)"
                                   class="tag-cloud-link tag-link-24 tag-link-position-14"
                                   href="danh-muc/phu-kien/index.html" style="font-size: 20.79012345679pt;">Phụ kiện</a>
                                <a aria-label="Phụ kiện âm thanh (2 mục)"
                                   class="tag-cloud-link tag-link-46 tag-link-position-15"
                                   href="danh-muc/phu-kien/phu-kien-am-thanh/index.html" style="font-size: 11.111111111111pt;">Phụ
                                    kiện âm thanh</a>
                                <a aria-label="Samsung (4 mục)"
                                   class="tag-cloud-link tag-link-26 tag-link-position-16"
                                   href="danh-muc/dien-thoai/samsung/index.html" style="font-size: 14.913580246914pt;">Samsung</a>
                                <a aria-label="Tablet (10 mục)"
                                   class="tag-cloud-link tag-link-22 tag-link-position-17"
                                   href="danh-muc/tablet/index.html" style="font-size: 20.79012345679pt;">Tablet</a>
                                <a aria-label="Tablet Beneve (1 mục)"
                                   class="tag-cloud-link tag-link-37 tag-link-position-18" href="danh-muc/tablet/tablet-beneve/index.html"
                                   style="font-size: 8pt;">Tablet Beneve</a>
                                <a aria-label="Tablet Cutepad (2 mục)"
                                   class="tag-cloud-link tag-link-31 tag-link-position-19"
                                   href="danh-muc/tablet/tablet-cutepad/index.html" style="font-size: 11.111111111111pt;">Tablet
                                    Cutepad</a>
                                <a aria-label="Tablet Huawei (1 mục)"
                                   class="tag-cloud-link tag-link-33 tag-link-position-20" href="danh-muc/tablet/tablet-huawei/index.html"
                                   style="font-size: 8pt;">Tablet Huawei</a>
                                <a aria-label="Tablet Ipad (2 mục)"
                                   class="tag-cloud-link tag-link-32 tag-link-position-21"
                                   href="danh-muc/tablet/tablet-ipad/index.html" style="font-size: 11.111111111111pt;">Tablet
                                    Ipad</a>
                                <a aria-label="Tablet Itel (1 mục)"
                                   class="tag-cloud-link tag-link-35 tag-link-position-22" href="danh-muc/tablet/tablet-itel/index.html"
                                   style="font-size: 8pt;">Tablet Itel</a>
                                <a aria-label="Tablet Kindle (1 mục)"
                                   class="tag-cloud-link tag-link-30 tag-link-position-23" href="danh-muc/tablet/tablet-kindle/index.html"
                                   style="font-size: 8pt;">Tablet Kindle</a>
                                <a aria-label="Tablet Mobell (1 mục)"
                                   class="tag-cloud-link tag-link-34 tag-link-position-24" href="danh-muc/tablet/tablet-mobell/index.html"
                                   style="font-size: 8pt;">Tablet Mobell</a>
                                <a aria-label="Tablet Samsung (1 mục)"
                                   class="tag-cloud-link tag-link-36 tag-link-position-25" href="danh-muc/tablet/tablet-samsung/index.html"
                                   style="font-size: 8pt;">Tablet Samsung</a>
                                <a aria-label="Tai nghe (2 mục)"
                                   class="tag-cloud-link tag-link-43 tag-link-position-26"
                                   href="danh-muc/phu-kien/tai-nghe/index.html" style="font-size: 11.111111111111pt;">Tai nghe</a>
                                <a aria-label="Điện thoại (12 mục)"
                                   class="tag-cloud-link tag-link-21 tag-link-position-27" href="danh-muc/dien-thoai/index.html"
                                   style="font-size: 22pt;">Điện thoại</a></div>
                        </ul>


                    </div>
                </div>


                <style scope="scope">

                </style>
            </div>

        </div><!-- .section-content -->


        <style scope="scope">

#section_49580036 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(243, 243, 243);
}

            </style>
    </section>

    <section class="section sec_footer" id="section_224418128">
        <div class="bg section-bg fill bg-fill  bg-loaded">


        </div><!-- .section-bg -->

        <div class="section-content relative">


            <div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px"></div>

            <div class="row row-collapse" id="row-1251774516">

                <div class="col medium-3 small-6 large-3">
                    <div class="col-inner">

                        <h3>HOTLINE HỖ TRỢ</h3>
                        <p>Hỗ trợ mua hàng: <a href="tel:+01269220162">0126 922 0162</a></p>
                        <p>Hỗ trợ kỹ thuật: <a href="tel:+01269220162">0126 922 0162</a></p>
                        <p>Hỗ trợ bảo hành: <a href="tel:+01269220162">0126 922 0162</a></p>

                    </div>
                </div>
                <div class="col medium-4 small-6 large-4">
                    <div class="col-inner">

                        <h3>MONA MEDIA</h3>
                        <p>Địa chỉ: 151 Hồ Bá Kiện, P15, Q10, HCM</p>
                        <p>Điện thoại: <a href="tel:0126 922 0162">0126 922 0162</a></p>
                        <p>Email: <a
                                href="http://mauweb.monamedia.net/cdn-cgi/l/email-protection#83e7e6eeecedebf6edf7e6f1e4c3e4eee2eaefade0ecee"><span
                                class="__cf_email__" data-cfemail="d4b0b1b9bbbabca1baa0b1a6b394b3b9b5bdb8fab7bbb9">[email&#160;protected]</span></a>
                        </p>
                        <p>
                            <a href="http://mauweb.monamedia.net/cdn-cgi/l/email-protection#563b3938163b393837783b33323f37"><span
                                    class="__cf_email__" data-cfemail="bbd6d4d5fbd6d4d5da95d6dedfd2da">[email&#160;protected]</span></a>
                        </p>
                        <p>Skype: <a href="skype:demonhunterp?chat">demonhunterp</a></p>

                    </div>
                </div>
                <div class="col medium-5 small-6 large-5">
                    <div class="col-inner">

                        <div class="row row-collapse" id="row-1667169008">

                            <div class="col medium-4 small-12 large-4">
                                <div class="col-inner">

                                    <p>Hỗ trợ thanh toán</p>

                                </div>
                            </div>
                            <div class="col footer_ho_tro medium-8 small-12 large-8">
                                <div class="col-inner">

                                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_1368894908">
                                        <div class="img-inner image-cover dark" style="padding-top:27px;">
                                            <img alt="" class="attachment-original size-original"
                                                 height="27"
                                                 sizes="(max-width: 142px) 100vw, 142px" src="wp-content/uploads/2017/12/icon_payment.png"
                                                 srcset="http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_payment.png 142w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_payment-24x5.png 24w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_payment-36x7.png 36w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_payment-48x9.png 48w"
                                                 width="142"/>
                                        </div>

                                        <style scope="scope">

#image_1368894908 {
  width: 43%;
}

                                            </style>
                                    </div>


                                </div>
                            </div>


                            <style scope="scope">

                            </style>
                        </div>
                        <div class="row row-collapse" id="row-1160486148">

                            <div class="col medium-5 small-12 large-5">
                                <div class="col-inner">

                                    <p>Tư vẫn miễn phí (24/7) </br><a href="tel:+01269220162">0126 922 0162</a></p>

                                </div>
                            </div>
                            <div class="col medium-7 small-12 large-7">
                                <div class="col-inner">

                                    <p>Góp ý, phản ánh(8h00 - 22h00) </br><a href="tel:+01269220162">0126 922
                                        0162</a></p>

                                </div>
                            </div>


                            <style scope="scope">

                            </style>
                        </div>
                        <div class="row row-collapse" id="row-1944573054">

                            <div class="col footer_cong_nhan small-12 large-12">
                                <div class="col-inner">

                                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_703426006">
                                        <div class="img-inner dark">
                                            <img alt="" class="attachment-original size-original"
                                                 height="40"
                                                 sizes="(max-width: 420px) 100vw, 420px" src="wp-content/uploads/2017/12/icon_cong_nhan.png"
                                                 srcset="http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_cong_nhan.png 420w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_cong_nhan-300x29.png 300w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_cong_nhan-24x2.png 24w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_cong_nhan-36x3.png 36w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/icon_cong_nhan-48x5.png 48w"
                                                 width="420"/>
                                        </div>

                                        <style scope="scope">

#image_703426006 {
  width: 100%;
}

                                            </style>
                                    </div>


                                </div>
                            </div>


                            <style scope="scope">

                            </style>
                        </div>
                        <div id='fb-root'></div>
                        <p>
                            <script data-cfasync="false"
                                    src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script>
                                    (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = '../../connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
                                </script>
                        </p>
                        <div attribution="wordpress" class='fb-customerchat' page_id='1342183349141230'>
                        </div>

                    </div>
                </div>


                <style scope="scope">

                </style>
            </div>

        </div><!-- .section-content -->


        <style scope="scope">

#section_224418128 {
  padding-top: 0px;
  padding-bottom: 0px;
}

            </style>
    </section>


    <div class="absolute-footer light medium-text-center text-center">
        <div class="container clearfix">


            <div class="footer-primary pull-left">
                <div class="copyright-footer">
                    &copy; All rights reserved.
                    Thiết kế website <img alt="MonaMedia" src="../../mona.solutions/logo.png"
                                          style="width:20px;vertical-align:sub;"> <a href="https://mona.media/" title="Mona Media"><strong>Mona
                    Media</strong></a>
                </div>
            </div><!-- .left -->
        </div><!-- .container -->
    </div><!-- .absolute-footer -->
    <a class="back-to-top button invert plain is-outline hide-for-medium icon circle fixed bottom z-1" href="#top"
       id="top-link"><i class="icon-angle-up"></i></a>

</footer><!-- .footer-wrapper -->