<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Q&A</title>
</head>
<body>
<div layout:fragment="content">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">



                    <section class="section" id="section_537091742">
                        <div class="bg section-bg fill bg-fill  bg-loaded" >
                        </div><!-- .section-bg -->

                        <div class="section-content relative">

<!--                            <div class="gap-element" style="display:block; height:auto; padding-top:50px" class="clearfix"></div>-->
                            <div class="row"  id="row-795690268">
                                <div class="col small-12 large-12"  ><div class="col-inner text-center"  >
                                    <h2>FAQs</h2>
                                </div></div>
                                <div class="col medium-6 small-12 large-6"  ><div class="col-inner"  >
                                    <div class="accordion" rel="">
                                        <div class="accordion-item"><a href="#" class="accordion-title plain"><button class="toggle"><i class="icon-angle-down"></i></button><span>Các sản phẩm lỗi được bảo hành trong thời gian bao lâu?</span></a><div class="accordion-inner">
                                            <p>Các sản phẩm lỗi sẽ được bảo hành trong khoảng thời gian dự kiến là 5-7 ngày, không tính thời gian chuyển hàng đi và về.</p>
                                        </div></div>
                                        <div class="accordion-item"><a href="#" class="accordion-title plain"><button class="toggle"><i class="icon-angle-down"></i></button><span>Tôi có thể hủy hay thay đổi các giao dịch đã thực hiện hay không ?</span></a><div class="accordion-inner">
                                            <p>Rất tiếc chúng tôi chưa hỗ trợ hủy, hoàn lại hoặc thay đổi giao dịch đã hoàn thành.</p>
                                        </div></div>
                                        <div class="accordion-item"><a href="#" class="accordion-title plain"><button class="toggle"><i class="icon-angle-down"></i></button><span>Tôi nhập sai số điện thoại ( email ) nhận mã, có thể gửi lại cho tôi với số điện thoại ( email ) đúng được không</span></a><div class="accordion-inner">
                                            <p>Chúng tôi hiện chưa hỗ trợ gửi lại mã thẻ cho bất kỳ số điện thoại hoặc email nào khác ngoài email và số điện thoại đã đăng ký khi giao dịch. Rất mong quý khách thông cảm vui lòng kiểm tra lại thông tin nhận mã trước khi hoàn tất thanh toán.</p>
                                        </div></div>
                                        <div class="accordion-item"><a href="#" class="accordion-title plain"><button class="toggle"><i class="icon-angle-down"></i></button><span>Trường Hợp Nào Thì Tôi Được Đổi Sản Phẩm?</span></a><div class="accordion-inner">
                                            <div class="level3">
                                                <p>Chúng tôi chỉ đổi sản phẩm trong trường hợp sản phẩm bị lỗi không phát sinh từ phía khách hàng, cụ thể gồm những trường hợp dưới đây:</p>
                                            </div>
                                            <div class="level3">
                                                <ul>
                                                    <li>Lỗi kỹ thuật của sản phẩm</li>
                                                    <li class="level1">
                                                        <div class="li">Hàng hóa bị bể vỡ trước khi đến tay khách hàng</div>
                                                    </li>
                                                    <li class="level1">
                                                        <div class="li">Giao sai sản phẩm</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div></div>
                                        <div class="accordion-item"><a href="#" class="accordion-title plain"><button class="toggle"><i class="icon-angle-down"></i></button><span>Trong Trường Hợp Giỏ Hàng Của Tôi Vừa Có Sản Phẩm Được Giao Trong 2 Tiếng Vừa Có Sản Phẩm Không Được Giao Trong 2 Tiếng Thì Tôi Sẽ Nhận Hàng Khi Nào?</span></a><div class="accordion-inner">
                                            <p>Trong trường hợp đơn hàng của bạn vừa có sản phẩm được giao trong 2 tiếng vừa có sản phẩm không được giao trong 2 tiếng thì cả đơn hàng sẽ được áp dụng gói giao hàng tiêu chuẩn (giao thường).</p>
                                        </div></div>
                                    </div>
                                </div></div>
                                <div class="col medium-6 small-12 large-6"  ><div class="col-inner"  >
                                    <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_916156339">
                                        <div class="img-inner dark" >
                                            <img width="1020" height="609" src="../wp-content/uploads/2017/12/FAQs-x2-1024x611.png" class="attachment-large size-large" alt="" srcset="http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/FAQs-x2-1024x611.png 1024w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/FAQs-x2-300x179.png 300w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/FAQs-x2-768x458.png 768w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/FAQs-x2-24x14.png 24w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/FAQs-x2-36x21.png 36w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/FAQs-x2-48x29.png 48w, http://mauweb.monamedia.net/fptshop/wp-content/uploads/2017/12/FAQs-x2.png 1156w" sizes="(max-width: 1020px) 100vw, 1020px" />
                                        </div>

                                        <style scope="scope">

#image_916156339 {
  width: 100%;
}
</style>
                                    </div>

                                </div></div>
                            </div>
<!--                            <div class="gap-element" style="display:block; height:auto; padding-top:50px" class="clearfix"></div>-->
                        </div><!-- .section-content -->


                        <style scope="scope">

#section_537091742 {
  padding-top: 0px;
  padding-bottom: 0px;
}
</style>
                    </section>



                </div><!-- .col-inner -->
            </div><!-- .large-12 -->
        </div><!-- .row -->
    </div>


</div>
</body>
</html>